/* Makeup Baurg!art (http://burgarts.ru/) */

@import url("reset.css");
@font-face {font-family:'pf_dindisplay_prolight';src:url('../style/pfdindisplaypro-light.eot');src: url('../style/pfdindisplaypro-light?#iefix') format('embedded-opentype'),url('../style/pfdindisplaypro-light.woff') format('woff'),url('../style/pfdindisplaypro-light.ttf') format('truetype'),url('../style/pfdindisplaypro-light.svg#burgart') format('svg')}
@font-face {font-family:'pfdindisplaypro-medium';src:url('../style/pfdindisplaypro-medium.eot');src: url('../style/pfdindisplaypro-medium.eot?#iefix') format('embedded-opentype'),url('../style/pfdindisplaypro-medium.woff') format('woff'),url('../style/pfdindisplaypro-medium.ttf') format('truetype'),url('../style/pfdindisplaypro-medium.svg#burgart') format('svg')}

html,body {position:relative;height:100%;background:#f3f4f8;color:#5b616f;font-size:15px;font-family:'pf_dindisplay_prolight',sans-serif}
input, textarea, button {font-size:14px;font-family:'pf_dindisplay_prolight',sans-serif}
a {color:#5487db}
a:hover {color:#f8c842}

.clear {clear:both}
.wrap {margin:0 auto;width:960px}
.title {margin:0 0 35px;padding-top:7px;color:#474444;font-size:25px;text-transform:uppercase;text-align:center}
.title span {padding-top:5px;border-top:2px #54ae19 solid}

/* Меню */
#menu_body {margin:0 0 -94px;z-index:999;width:100%;height:94px;background:rgba(255,255,255,0.96);box-shadow:0 2px 3px rgba(35,83,122,0.2);-webkit-box-shadow:0 2px 3px rgba(35,83,122,0.2);-moz-box-shadow:0 2px 3px rgba(35,83,122,0.2)}
.floating {position:fixed;top:0}
#menu {margin:0 auto;width:960px}
#logo {float:left;margin-top:30px;width:137px;height:35px;background:url(../images/logo.png) no-repeat}
#utp {float:left;margin:20px 0 0 23px;width:85px;color:#657381;font-size:14px}
#menu-list {float:right;padding-top:37px}
#menu-list li {float:left;margin-left:15px}
#menu-list a {padding:4px 8px;color:#272d30;font-size:16px;text-decoration:none;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px}
#menu-list a:hover {color:#452b0c;background:#ffb903}

/* Шапка */
#head_body {margin-top:94px;height:431px;background:#326693 url(../images/head.jpg) no-repeat top center}
#head {margin:0 auto;width:960px}
#registr, #login {float:left;padding-top:12px;font-size:16px;text-align:center;text-transform:uppercase;font-family:'pfdindisplaypro-medium';text-decoration:none;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px}
#registr {margin-top:82px;width:170px;height:32px;color:#144904;text-shadow:1px 1px 0 #7dcc57;background:#4fac23 url(../images/reg_button.png) repeat-x}
#registr:hover {color:#90590b;text-shadow:1px 1px 0 #fddf82;background-position:0 -44px}
#login {margin:82px 0 0 38px;width:166px;height:28px;color:#fff;border:2px #f3f4f8 solid;background:rgba(255,255,255,0.1)}
#login:hover {color:#3d75ae;background:#f3f4f8}
#pamani {margin-top:75px;width:370px;color:#fff}
#that {padding:0 0 12px;font-size:28px;text-transform:uppercase;border-bottom:2px rgba(255,255,255,0.3) solid}
#pamani p {margin-top:12px}

/* Доверие */
#trust {position:relative;height:490px;text-transform:uppercase;font-family:'pfdindisplaypro-medium';background:url(../images/trust.png) no-repeat 39px 100px}
#trust-title {top:210px;left:375px;width:170px;height:60px;color:#474444;font-size:24px;text-align:center}
#trust-title, #tr1, #tr2, #tr3, #tr4 {position:absolute}
#trust p {float:left;padding-top:3px;font-size:30px}
#trust span {float:left;margin-left:20px;font-size:16px;color:#617d88}
#tr1 {top:70px;left:45px}
#tr1 p {color:#4186ac}
#tr2 {top:83px;left:675px}
#tr2 p {color:#4eab25}
#tr3 {top:342px;left:130px}
#tr3 p {color:#71aed0}
#tr4 {top:348px;left:565px}
#tr4 p {color:#87be61}

/* Интерфейс */
#slider_body {position:relative;padding:75px 0 60px;height:340px;border-top:1px #d8e0ea solid;border-bottom:1px #cbd4e0 solid;background:url(../images/interface.png) repeat-x}
#slider {position:relative;overflow:hidden;margin:0 auto;width:960px;height:340px;background:url(../images/slider.png) no-repeat top right}
.slide {width:100%;height:100%}
.slide-txt {display:table-cell;vertical-align:middle;width:375px;height:305px}
.slide-title {margin-top:-10px;padding:0 0 12px;color:#5b616f;font-size:22px;border-bottom:2px #d5d7de solid}
.slide-txt p {margin-top:12px}
.slide img {position:absolute;top:18px;right:63px}
#sprew, #snext {position:absolute;display:block;top:135px;overflow:hidden;z-index:3;width:18px;height:32px;background:url(../images/slider-arr.png) no-repeat}
#sprew {right:505px}
#snext {right:5px;background:url(../images/slider-arr.png) no-repeat right top}
#sprew:hover {background-position:left bottom}
#snext:hover {background-position:right bottom}
.sli-links {position:absolute;z-index:9;bottom:0;right:205px;width:120px;text-align:center}
.sli-links .control-slide {display:inline-block;margin-left:6px;width:9px;height:9px;cursor:pointer;text-indent:-9999px;border:3px #c6c9d1 solid;background:#c6c9d1;border-radius:18px;-webkit-border-radius:18px;-moz-border-radius:18px}
.sli-links .control-slide:hover {border:3px #c6c9d1 solid;background:#999da7}
.sli-links .control-slide.active {border:3px #c6c9d1 solid;background:#fff}

/* Преимущества */
#advant {margin:65px 0}
#advant .title {margin:0 0 50px}
.adv {float:left;margin:0 0 40px}
.adv .image {float:left;width:75px;text-align:center}
.adv p {float:left;margin-left:25px;width:340px;color:#585b63}
.adv p span {display:block;margin:0 0 5px;color:#3681a9;font-size:18px}

/* Преимущества */
#how_body {height:480px;background:#606d88 url(../images/how-bg.jpg) repeat}
#how {position:relative;margin:auto;padding-top:60px;width:960px;height:420px;color:#f3f4f8;font-size:16px}
#how .title span {color:#f3f4f8}
#how span {color:#91d6fe}
#round {position:absolute;z-index:100;margin:0 auto;margin-top:-18px;left:0;right:0;width:38px;height:38px;background:url(../images/round.png) no-repeat}
#how-head {position:absolute;width:100%;height:2px;background:url(../images/how-head.png) repeat-x}
#how-arr1 {position:absolute;display:block;top:170px;left:450px;width:125px;height:43px;background:url(../images/how-arr1.png) no-repeat}
#how-arr2 {position:absolute;display:block;top:320px;left:507px;width:115px;height:57px;background:url(../images/how-arr2.png) no-repeat}
#how-1, #how-2, #how-3 {position:absolute;padding:30px 0 0 135px;height:80px}
#how-1 {top:120px;background:url(../images/how-1.png) no-repeat}
#how-2 {top:200px;right:0;background:url(../images/how-2.png) no-repeat}
#how-3 {top:315px;left:125px;background:url(../images/how-3.png) no-repeat}

/* Кому */
#whom {position:relative;margin:70px auto;width:960px;height:420px;background:url(../images/map.png) no-repeat 110px 60px}
#whom p {margin:0 0 10px;color:#43649b;font-size:18px;text-transform:uppercase;font-family:'pfdindisplaypro-medium'}
#who-1, #who-2 {position:absolute;top:205px;color:#363c46;text-align:center}
#who-1 {left:88px;width:320px}
#who-2 {right:140px;width:255px}

/* Отзывы */
#reviews_body {padding:60px 0;background:#e8e9ed url(../images/rev-bg.gif) repeat}
#reviews {margin:0 auto;width:960px;height:430px}
#other {float:left;color:#666c77;font-size:16px;font-family:'pfdindisplaypro-medium'}
#slider-nav p {float:left;margin:0 5px 0 10px;width:75px;height:30px;background:url(../images/reviews-arr.png) no-repeat 0 8px}
#slider-nav {position:absolute;right:0;bottom:0}
.slider2 {overflow:hidden;padding:15px 0 60px;position:relative;width:960px}
.slider2 ul {width:9999px}
.slider2 ul li {float:left;width:960px;height:290px}
.slider2 .nav {float:left;padding-top:15px}
.slider2 .nav span {display:inline-block;margin-left:6px;width:9px;height:9px;cursor:pointer;text-indent:-9999px;border:3px #aeb1bc solid;background:#aeb1bc;border-radius:18px;-webkit-border-radius:18px;-moz-border-radius:18px}
.slider2 .nav span:hover {border:3px #aeb1bc solid;background:#43649b}
.slider2 .nav span.on {border:3px #aeb1bc solid;background:#fff}

/* Отзыв */
.comment-l {float:left;margin:0 0 35px;width:555px}
.com-text-l {float:left;position:relative;padding:8px 10px;width:420px;color:#616771;font-size:14px;border-bottom:3px #43649b solid;background:#fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px}
.com-text-l:after {left:100%;top:29px;border:solid transparent;content:"";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(136,183,213,0);border-left-color:#fff;border-width:12px}
.com-ava-l {float:left;position:relative;margin-left:35px;padding:3px;width:70px;height:70px;border:1px #43649b solid;background:#fff}
.com-name {position:absolute;display:block;top:83px;left:-22px;width:120px;color:#3b3b3b;text-align:center}
.com-name:hover {color:#43649b}
.comment-r {float:right;width:555px}
.com-text-r {float:left;position:relative;padding:8px 10px;width:420px;color:#616771;font-size:14px;border-bottom:3px #43649b solid;background:#fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px}
.com-text-r:after {right:100%;top:29px;border:solid transparent;content:"";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(136,183,213,0);border-right-color:#fff;border-width:12px}
.com-ava-r {float:left;position:relative;margin-right:35px;padding:3px;width:70px;height:70px;border:1px #43649b solid;background:#fff}

/* Бонус */
#bonus_body {float:left;width:49%;height:470px;background:#43649b url(../images/blue.gif)}
#bonus {float:right;padding:55px 0 55px 10px;width:470px}
.title3 {margin:0 0 25px;color:#ffb804;font-size:22px;text-transform:uppercase;font-family:'pfdindisplaypro-medium'}
#bonus-icon {position:relative;width:316px;height:125px;background:url(../images/bonus.png) no-repeat}
#bon-1, #bon-2, #bon-3 {position:absolute;top:67px;text-align:center;color:#e8e9ed;line-height:15px}
#bon-1 {left:13px}
#bon-2 {left:130px}
#bon-3 {left:252px}
#bon-3 p {margin-top:4px;color:#ffb804;text-transform:uppercase;font-family:'pfdindisplaypro-medium'}

/* Таймер */
#timer_wrap {margin-top:25px;padding-top:36px;border-top:1px #b4c1d7 solid;width:330px}
#timer-title {margin:0 0 14px;color:#fff;font-size:20px;text-transform:uppercase;font-family:'pfdindisplaypro-medium'}
#day, #hour, #min, #sec {float:left;display:block;position:relative;margin-right:23px;padding:9px 0 0 6px;width:58px;height:57px;text-align:center;border-bottom:2px #2b4571 solid;background:#fff url(../images/timer.gif) repeat-x;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px}
#sec {margin:0}
#sec p {color:#f2a03d !important}
#timer_wrap p {margin:0 0 10px 3px;padding:0;float:left;color:#3e5f95;font-size:42px;font-family:'pfdindisplaypro-medium'}
#timer_wrap span {display:block;margin-left:-6px;color:#f1f1f1;font-size:15px}
#sec1, #min1, #hour1, #day1 {margin-left:24px}

/* Форма */
#feedback_body {float:left;width:51%;height:470px;background:#fff}
#feedback {position:relative;padding:55px 0 55px 84px;width:400px}
#feedback:before {content:"";position:absolute;top:0;left:-42px;width:42px;height:470px;background:url(../images/feedback.png) no-repeat}
.title4 {margin:0 0 25px;color:#373434;font-size:22px;text-transform:uppercase;font-family:'pfdindisplaypro-medium'}
.title4 p {color:#43649b}
.form {width:327px}
.form input[type=text], .form textarea {display:block;margin:0 0 10px;width:285px;height:32px;color:#605f65;border:1px #d7d5d5 solid;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1)}
.form input[type=text] {padding:0 30px 0 10px;height:32px}
.form input[type=text]:focus, .form textarea:focus {border:1px #43649b solid}
.form textarea {resize:none;overflow:hidden;padding:10px 30px 10px 10px;height:110px}
.form input[type=text]::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {color:#605f65}
.form input[type=text]:-moz-placeholder, .form textarea:-moz-placeholder {color:#605f65}
.form input[type=text]:-ms-input-placeholder, .form textarea:-ms-input-placeholder {color:#605f65}
.fname {background:#fff url(../images/form-1.gif) no-repeat 302px 11px}
.fmail {background:#fff url(../images/form-2.gif) no-repeat 302px 12px}
.fmessage {background:#fff url(../images/form-3.gif) no-repeat 303px 12px}
#support {float:left;width:105px;color:#69686d;line-height:16px}
#support p {margin-top:4px;color:#43649b;font-size:16px}
#form_send {float:right;margin-top:15px;padding:3px 0 0 24px;width:150px;height:36px;border:none;cursor:pointer;text-align:left;text-transform:uppercase;text-shadow:1px 1px 0 rgba(255,242,206,0.35);background:#ffb903 url(../images/form-arr.png) no-repeat 114px 14px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px}
#form_send:hover {background:#aeb1bc url(../images/form-arr.png) no-repeat 114px 14px}

/* Соц. кнопки */
#share_body {margin-top:60px;height:80px;background:#383e49}
#share {margin:0 auto;width:960px}
#share p {float:left;padding-top:32px;color:#fff;font-size:16px}
#share-button {float:right;padding-top:25px}
.tip {float:left;position:relative;margin:5px 0 0 11px;padding:2px 8px;color:#626060;font-size:13px;background:#fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px}
.tip:after {right:100%;top:50%;border:solid transparent;content:"";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(136,183,213,0);border-right-color:#fff;border-width:4px;margin-top:-4px}
#vk, #fb, #tw, #gp {float:left;margin-left:50px;height:30px;cursor:pointer}
#vk {width:30px;background:url(../images/share.png) no-repeat}
#vk:hover {background-position:0 -30px}
#fb {width:15px;background:url(../images/share.png) no-repeat -30px 0}
#fb:hover {background-position:-30px -30px}
#tw {width:27px;background:url(../images/share.png) no-repeat -45px 0}
#tw:hover {background-position:-45px -30px}
#gp {width:26px;background:url(../images/share.png) no-repeat -72px 0}
#gp:hover {background-position:-72px -30px}

/* Подвал */
#foot_body {height:200px;background:#2b303b}
#foot {margin:0 auto;padding:40px 0;width:960px;color:#dedfe2}
#foot-top {padding:0 0 35px;border-bottom:1px #181c23 solid}
#work {float:left;width:175px;color:#ffb804;font-size:16px;text-transform:uppercase;font-family:'pfdindisplaypro-medium'}
#info {float:left;margin:0 80px;width:140px}
#adres {float:left;width:240px}
#email {float:right}
#foot-down {padding-top:19px;border-top:1px #373d49 solid}
#foot-menu a {display:block;float:left;margin-right:20px;padding:4px 10px;color:#fff;background:#384051;box-shadow:inset 1px 1px 2px #1b202a;-webkit-box-shadow:inset 1px 1px 2px #1b202a;-moz-box-shadow:inset 1px 1px 2px #1b202a;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px}
#foot-menu a:hover {color:#ffb804}
#work-it {float:right;padding-top:3px}
#work-it p {float:left;margin-left:70px}